.search {
  margin: 0 70px;
  padding: 70px 0 69px 0;
  border-bottom: 1px solid rgba(232, 232, 232, 0.9);
}

@media screen and (max-width: 768px) {
  .search {
    padding: 80px 0 109px 0;
    margin: 0 10px;
  }
}

@media screen and (max-width: 630px) {
  .search {
    padding: 80px 0 45px 0;
    margin: 0 10px;
  }
}

.search__form {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 9px;
  height: 72px;
}

@media screen and (max-width: 768px) {
  .search__form {
    gap: 19px;
  }
}

@media screen and (max-width: 630px) {
  .search__form {
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: transparent;
    gap: 45px;
  }
}

.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 226px);
}

@media screen and (max-width: 730px) {
  .search__container {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .search__container {
    background-color: #f9f9f9;
    height: 72px;
    border-radius: 9px;
  }
}

.input__container {
  display: flex;
}

@media screen and (max-width: 560px) {
  .input__container {
    margin-left: 19px;
    max-width: 150px;
  }
}

.search__icon {
  background-image: url(../../images/lupa_dark.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  margin: 0 25px;
}

@media screen and (max-width: 768px) {
  .search__icon {
    width: 19px;
    height: 19px;
    margin: 0 19px;
  }
}

@media screen and (max-width: 560px) {
  .search__icon {
    display: none;
  }
}

.search__input {
  border: none;
  background-color: transparent;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}

@media screen and (max-width: 560px) {
  .search__input {
    font-size: 14px;
  }
}

.search__button {
  background-color: #2be080;
  border-radius: 25px;
  border: none;
  width: 80px;
  height: 34px;
  box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.25);
  background-image: url(../../images/lupa.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.7s;
}

.search__button:hover {
  opacity: 0.8;
  transition: 0.7s;
}

@media screen and (max-width: 630px) {
  .search__button {
    margin-right: 19px;
  }
}
