.profile {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
  height: calc(100vh - 74px);
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    padding-top: 70px;
  }
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 123px;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .profile__title {
    padding-bottom: 80px;
  }
}

.profile__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 220px;
  max-width: 410px;
}

@media screen and (max-width: 520px) {
  .profile__form {
    padding-bottom: 379px;
    margin: 0 30px;
    max-width: 260px;
  }
}

.profile__text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__input {
  border: none;
  text-align: right;
  outline: none;
  font-size: 11px;
  color: red;
}

.profile__line {
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .profile__line {
    max-width: 260px;
  }
}

.profile__text {
  font-size: 11px;
}

.profile__error {
  font-size: 11px;
  color: #ee3465;
}

/* .profile__line {
  width: 410px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  margin-bottom: 17px;
} */

.profile__button-submit {
  font-weight: 500;
  font-size: 13px;
  color: black;
  border: none;
  background-color: transparent;
  padding-bottom: 16px;
}

.profile__button-submit:hover {
  opacity: 0, 6;
  transition: 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .profile__button-submit {
    font-size: 12px;
  }
}

.profile__button-exit {
  font-weight: 500;
  font-size: 13px;
  color: #ee3465;
  border: none;
  background-color: transparent;
}

.profile__button-exit:hover {
  opacity: 0, 6;
  transition: 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .profile__button-exit {
    font-size: 12px;
  }
}
