.form-template {
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 1280px;
}

@media screen and (max-width: 456px) {
  .form-template {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .form-template {
    padding-top: 232px;
  }
}

@media screen and (max-width: 456px) {
  .form-template {
    padding: 56px 30px 0;
    justify-content: start;
  }
}

.form-template__logo {
  width: 38px;
  height: 38px;
  margin: 0;
  padding-bottom: 48px;
}

.form-template__title {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 40px;
}

@media screen and (max-width: 456px) {
  .form-template__title {
    padding-bottom: 80px;
    align-self: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 396px;
}

@media screen and (max-width: 456px) {
  .form {
    width: 260px;
    align-self: start;
  }
}

.form__input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.form__input-label {
  font-size: 10px;
  color: #a0a0a0;
}

.form__input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  padding-bottom: 10px;
  width: 100%;
}

.form__input:focus {
  border-bottom: 1px solid #2be080;
}

.form__input::placeholder {
  color: #000000;
}

.form__input_type_error::placeholder {
  color: #ee3465;
}

.form__input-error {
  font-size: 10px;
  color: #ee3465;
}

.submit__wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__submit {
  border-radius: 3px;
  background-color: #2be080;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 16px;
  border: none;
  margin-top: 179px;
  padding-top: 13px;
  cursor: pointer;
  transition: 0.7s;
  width: 100%;
}

.form__submit:disabled {
  opacity: 0.6;
  cursor: auto;
}

@media screen and (max-width: 456px) {
  .form__submit {
    padding-bottom: 14px;
  }
}

.form__text {
  font-size: 14px;
  color: #a0a0a0;
}

@media screen and (max-width: 456px) {
  .form__text {
    font-size: 12px;
  }
}

.form__link {
  text-decoration: none;
  color: #2be080;
  font-size: 14px;
  padding-left: 6px;
  cursor: pointer;
  transition: 0.7s;
}

@media screen and (max-width: 456px) {
  .form__link {
    font-size: 12px;
  }
}
